ul {
  list-style: none;
}

.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  scale: 1.05;
}
